<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/sidebar.css">
  </head>
  <body>
    <header>
      <%- include('partials/header') %>
    </header>

    <main class="container-fluid d-flex flex-nowrap">
      <aside class="border bg-light p-3">
        <%- include('partials/admin/sidebar') %>
      </aside>
      <div class="container p-3">
        <h2 class="mb-4">Edit Client</h2>
        <form action="/admin/clients/edit/<%= clientData.UserID %>" method="post">

          <div class="mb-3">
            <label for="userId"><h5>User ID</h5></label>
            <input type="text" name="userId" id="userId" value="<%= clientData.UserID %>" readonly class="form-control-borderless">
          </div>

          <div class="mb-3">
            <label for="username"><h5>Username</h5></label>
            <input type="text" class="form-control form-control-narrow" id="username" name="username" value="<%= clientData.Username %>" required>
          </div>

          <div class="mb-3">
            <label for="name"><h5>Name</h5></label>
            <input type="text" class="form-control form-control-narrow" id="name" name="name" value="<%= clientData.Name %>" required>
          </div>

          <div class="mb-3">
            <label for="surname"><h5>Surname</h5></label>
            <input type="text" class="form-control form-control-narrow" id="surname" name="surname" value="<%= clientData.Surname %>" required>
          </div>

          <div class="col-auto">
            <a href="/admin/clients" class="btn btn-secondary">Cancel</a>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

    <!-- Icons -->
    <script src="/js/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
