<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/css/sidebar.css">
  </head>
  <body>
    <header>
      <%- include('partials/header'); %>
    </header>

    <main class="container-fluid d-flex flex-nowrap">
      <aside class="border bg-light p-3">
        <%- include('partials/admin/sidebar'); %>
      </aside>
      <div class="container p-3">
        <h2 class="mb-4">Edit GIC Product</h2>
        <form action="/admin/gics/edit/<%= product.ProductID %>" method="post">

          <div class="mb-3">
            <label for="productId"><h5>Product ID</h5></label>
            <input type="text" name="productId" id="productId" value="<%= product.ProductID %>" readonly class="form-control-borderless">
          </div>

          <div class="mb-3">
            <label for="productName"><h5>Product Name</h5></label>
            <input type="text" class="form-control form-control-narrow" id="productName" name="productName" value="<%= product.ProductName %>" required>
          </div>

          <div class="mb-3">
            <label for="interest"><h5>Annual Interest Rate (%)</h5></label>
            <input type="number" class="form-control form-control-narrow" id="interest" name="interest" min="0" max="100" step="0.1" value="<%= product.InterestRate %>" required>
          </div>

          <div class="mb-3">
            <label for="term"><h5>Term</h5></label>
            <select class="form-select form-control-narrow" id="term" name="term" required>
              <option value="12" <%= product.Term === 12 ? 'selected' : '' %>>12 months</option>
              <option value="24" <%= product.Term === 24 ? 'selected' : '' %>>24 months</option>
              <option value="36" <%= product.Term === 36 ? 'selected' : '' %>>36 months</option>
              <option value="48" <%= product.Term === 48 ? 'selected' : '' %>>48 months</option>
              <option value="60" <%= product.Term === 60 ? 'selected' : '' %>>60 months</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="minimumAmount"><h5>Minimum Investment Amount</h5></label>
            <input type="number" class="form-control form-control-narrow" id="minimumAmount" name="minimumAmount" min="0" step="0.01" value="<%= product.MinimumAmount %>" required>
          </div>

          <div class="col-auto">
            <a href="/admin/gics/view" class="btn btn-secondary">Cancel</a>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </div>
    </main>

    <footer>
      <%- include('partials/footer'); %>
    </footer>

    <!-- Icons -->
    <script src="/js/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
