<!doctype html>
<html lang="en">
	<head>
		<%- include('partials/head'); %>
		<link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/client-common.css">
	</head>
	<body>
		<header>
			<%- include('partials/header'); %>
		</header>

		<main class="container-fluid d-flex flex-nowrap">
			<aside class="border">
				<%- include('partials/client/sidebar'); %>
			</aside>
			<!-- Content -->
			<div class="flex-grow-1 p-3">
				<div class="d-flex justify-content-between align-items-center mb-4">
					<h3 class="mb-0">Loan Confirmation</h3>
					<a href="/client/loan/view" class="btn btn-outline-secondary btn-sm">
						<i data-feather="arrow-left" style="width: 16px; height: 16px;"></i> Back to Loans
					</a>
				</div>

				<div class="card">
					<div class="card-body">
						<p>Dear <%= user.name %>, your Loan Confirmation ID is <b><%= confirmationId %></b></p>
						<hr>
						<p>Your loan request is currently under review by Bank Administration. We will notify you of their decision as soon as possible.</p>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<%- include('partials/footer'); %>
		</footer>

		<!-- Icons -->
		<script src="/js/feather.min.js"></script>
		<script>feather.replace()</script>
	</body>
</html>
